<% provide :title, "Contact" %>
<% provide :your_name, "Hiep" %>
<h1>Contact</h1>
<p>
  Hello, <%= yield :your_name %> <br />
  Contact me @ <a href="mailto:hoanghiepnguyen106@gmail.com">hoanghiepnguyen106@gmail.com</a>
</p>